---
import {proyectos} from '../../config/proyectos.json'
---

<h2 class="font-bold text-5xl my-8 text-center">Proyectos</h2>

{
    proyectos.map(proyecto => (
        <div class="flex flex-col mb-2 text-center md:text-left md:flex-row">
            <div class="flex-1 p-10">
                <h2 class="font-bold text-2xl my-4">{proyecto.title}</h2>
                <p class="my-2">{proyecto.description}</p>
                <a href={proyecto.url} target="_blank" rel="noopener noreferrer">
                    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
                        Mas info
                    </button>
                </a>
            </div>
            <div class="flex-1">
                <img src={proyecto.image} class="w-72 m-auto" />
            </div>
        </div>
    ))
}
